<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internet 101</title>
  </head>
  <body>
    <h1 class="title">Internet 101</h1>
    <% if (user) { %>
      <% if (user.member) { %>
        <h1>WELCOME BACK MEMBER <%= user.firstname %></h1>
      <% } else { %>
        <h1>WELCOME BACK <%= user.username %></h1>
      <% } %>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <a href="/sign-up">Sign Up</a>
      <a href="/log-in">If you already have an account</a>
    <% } %>
  </body>
</html>
