<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internet 101</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="POST" action="/log-in">
      <p>Enter Username:</p>
      <br />
      <input type="text" name="username" />
      <br />
      <p>Enter Password:</p>
      <br />
      <input type="password" name="password" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
